/* This file is for your main application css. */

table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  background-color: gray;
}

tr {
  
}

td {
  width: calc(100% / 12);
  height: 275px;
  position: relative;
}

.triangle {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: sandybrown;
}

.triangle:not(.bottom) {
  position: absolute;
}

.top .triangle {
  clip-path: polygon(100% 0, 0 0, 50% 95%);
}

svg {
  z-index: 1;
  position: absolute;
  right: calc(50% - 25px);
}

.top td {
  vertical-align: top;
}

.bottom .triangle {
  clip-path: polygon(50% 5%, 0 100%, 100% 100%);
}

.bottom td {
  vertical-align: bottom;
}

.red {
  color: red;
  cursor: pointer;
}

.white {
  color: black;
  cursor: pointer;
}